<div class="wrapper" style>
    <div class="row hideOnMobile" id="resetBtn">
        <button mat-button title="Zoom out" (click)="zoom(1)" class="col" style="background-color: #ffffffb3">
            <img src="./assets/icons/ic_m_minus.svg" height="20px">
        </button>
        <button mat-button title="Center view" (click)="resetView()" class="col" style="background-color: #ffffffb3">
            <img src="./assets/icons/ic_m_center.svg" height="20px">
        </button>
        <button mat-button title="Zoom in" (click)="zoom(0)" class="col" style="background-color: #ffffffb3">
            <img src="./assets/icons/ic_m_plus.svg" height="20px">
        </button>
    </div>
    <div #nodeEditor class="node-editor"></div>
</div>