<form>
  <div class="form-group">

    <p class="text-center mt-4">
      Publishing this chat, you won't be able to modify the conversation and the above boxes in the future.
      Do you confirm this operation?
    </p>
  </div>

  <div class="form-group text-center">
    <button mat-raised-button color="primary" type="button" id="publishBtn" (click)="publish()"
      [disabled]="!canPress">Publish</button>
  </div>

  <div class="form-group text-center mt-3">
    <button mat-button type="button"  (click)="close()">Close</button>
  </div>
</form>