<form style="margin-bottom: 0;">
  <h2 style="width: 100%;margin: 0;
  font-weight: 500; margin-bottom: 15px;"> Save as:</h2>

  <p style="color: red;" *ngIf="titleFieldEmpty || projectFieldEmpty || languageFieldEmpty">{{errorMessage}}</p>
  <div class="form-group">

    <mat-form-field style="width: 100%;"  appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput class="form-control form-control-lg" [(ngModel)]="titleValue" (selectionChange)="changed()" 
    [ngModelOptions]="{standalone: true}" type="text" maxlength="100">
    </mat-form-field>
  
  </div>
  
  <mat-form-field style="width: 100%;" *ngIf="showProject" appearance="outline">
    <mat-label>Choose a Project</mat-label>
    <mat-select [(value)]="projectValue">
      <mat-option *ngFor="let project of projects" [value]="project">
        {{project.projectName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select [(value)]="languageValue">
      <mat-option *ngFor="let language of languages" [value]="language">
        {{language.lang}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-group">
    <button mat-raised-button color="primary" type="button" style="width: 100%;" (click)="save()">Save</button>
    <button mat-button type="button" style="width: 100%; margin-top: 10px;" (click)="dialogRef.close()">Cancel</button>
  </div>
  
</form>