<div style="height:100%; position: relative;">
  <div class="row align-items-center m-0 p-0">

      <button mat-button title="Import" type="button" class="commands" (click)="importButtonPressed()" style="position: absolute; top: 0rem; right: 0rem;">
        <img class="topBarImg" src="./assets/icons/navbar/import.svg">
      </button>

    <p class="pl-2" style="width: 100%; font-size: 20px">Open Conversation</p>


    <form class="row" style="margin: 0px; width: 100%">
      <div class="col-12 mt-3">
        <mat-form-field  style="width: 100%;" appearance="outline">
          <mat-label>Title</mat-label>
        <input matInput id="titleInput" [(ngModel)]="titleValue" [ngModelOptions]="{standalone: true}" style="width: 100%;"
          type="text" (input)="titleSelectionChanged()">
        </mat-form-field>
      </div>
      <div *ngIf="showProject" class="col-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Status</mat-label>
              <mat-select [(value)]="selectedStatus" (selectionChange)="selectionChanged()">
                <mat-option *ngFor="let i of statuses" [value]="i">
                  {{i}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div *ngIf="showProject" class="col-6">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Projects</mat-label>
            <mat-select [(value)]="selectedProject" (selectionChange)="selectionChanged()">
              <mat-option *ngFor="let i of projects" [value]="i">
                {{i}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div *ngIf="!showProject" class="col-12">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Status</mat-label>
          <mat-select [(value)]="selectedStatus" (selectionChange)="selectionChanged()">
            <mat-option *ngFor="let i of statuses" [value]="i">
              {{i}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
    </form>

  </div> 
  
  <!-- Loading spinner -->
  <mat-progress-bar id="loadingSpinnerConv" *ngIf="isLoading" style="width:100%"
    mode="indeterminate"></mat-progress-bar>

    <div id="convList">

      <p class="text-light text-center" *ngIf="!conversationsFound; else showConversations">No conversations found</p>

      <ng-template #showConversations>

        <div *ngFor="let conversation of conversations" (click)="chatSelected(conversation)">

          <button mat-button type="button" style="width: 100%" class="text-left p-0">

            <div class="row" style="width: auto!important; line-height: 1; margin-left: 2.5rem!important; padding-bottom: 1rem!important; padding-top: 1rem!important;"> 
              <h3 class="m-0" style="font-weight: 500;font-size: 16px!important;">{{conversation.conversationTitle}}</h3>
              <p style="width: 100%; color: gray; text-align: left;" class="m-0"> {{conversation.projectName}} </p>
            </div>

            <p *ngIf="conversation.status == 'published'" class="px-2 status-indicator"  style="background-color: #4caf50">P</p>
            <p *ngIf="conversation.status == 'saved'" class="px-2 status-indicator"  style="background-color: #6c757d">S</p>
            <p *ngIf="conversation.status == 'unpublished'" class="px-2 status-indicator"  style="background-color: #03a9f4">U</p>
            

          </button>
          
        </div>
      </ng-template>

    </div>
</div>