<div class="row">
  <h3 class="col-12">Style up!</h3>


  <div class="col-8 pr-5">

    <div class="row" style="flex-direction:column; justify-content: center; height: 100%;">

      <h5 class="col-12 mt-3 p-0" style="font-weight: 500;">Introduction screen info</h5>

      <mat-form-field style="width: 100%;">
        <mat-label>Link to personal privacy policy</mat-label>
        <input matInput type="url" [(ngModel)]="privacyLink" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Link to custom logo</mat-label>
        <input matInput type="url" [(ngModel)]="imageLink" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Custom introductory text</mat-label>
        <textarea matInput placeholder="" [(ngModel)]="text" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>

      <h5 class="col-12 mt-5 p-0" style="font-weight: 500;">Colors & Font</h5>

      <div style="width: 100%;">

        <div class="row py-1 align-items-center">
          <input [(colorPicker)]="primaryColor" [style.background]="primaryColor" class="color-picker-custom" />
          <button mat-mini-fab [hidden]="primaryColor == primaryColorBackup" (click)="primaryColor=primaryColorBackup"
            style="background-color: transparent; box-shadow: none;">
            <img src="./assets/icons/ic_undo.svg" style="height: 1.5rem;">
          </button>
          <p class="ml-2">Primary color <small>(for colored backgrounds or buttons)</small></p>
        </div>

        <div class="row py-1 align-items-center">
          <input [(colorPicker)]="secondaryColor" [style.background]="secondaryColor" class="color-picker-custom" />
          <button mat-mini-fab [hidden]="secondaryColor == secondaryColorBackup" (click)="secondaryColor=secondaryColorBackup"
            style="background-color: transparent; box-shadow: none;">
            <img src="./assets/icons/ic_undo.svg" style="height: 1.5rem;">
          </button>
          <p class="ml-2">Secondary color <small>(for sliders, stars and color accent)</small></p>
        </div>

        <div class="row py-1 align-items-center">
          <input [(colorPicker)]="textColor" [style.background]="textColor" class="color-picker-custom" />
          <button mat-mini-fab [hidden]="textColor == textColorBackup" (click)="textColor=textColorBackup"
            style="background-color: transparent; box-shadow: none;">
            <img src="./assets/icons/ic_undo.svg" style="height: 1.5rem;">
          </button>
          <p class="ml-2">On-primary text color <small>(color of the text inside the buttons with the primary
              color)</small></p>
        </div>

        <div class="row py-1 align-items-center">
          <button mat-mini-fab (click)="textColor='#ffffff'" style="background-color: white; box-shadow: none;">
            <h2 [style.fontFamily]="currentFont" style="line-height: 0;">Aa</h2>
          </button>
          <mat-form-field style="margin-left: 1rem;">
            <mat-label>Font</mat-label>
            <mat-select [(value)]="currentFont" (selectionChange)="fontChanged($event)">
              <mat-option *ngFor="let font of fonts" [value]="font">
                {{font}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>



  <div class="col-4" style="text-align: end;">

    <h6 style="width: 100%; text-align: center;">Intro</h6>
    <div class="card p-3">
      <div class="row justify-content-center">

        <img class="my-2" style="height: 50px; width: auto;" [src]="imageLink">
        <p [style.fontFamily]="currentFont" style="font-size: 80%; width: 100%; text-align: center;"> {{text}} <br>
          <a style="font-weight: 500;" [style.color]="primaryColor" [style.fontFamily]="currentFont" [href]="privacyLink">Privacy Notice</a></p>

        <button [style.fontFamily]="currentFont" [style.background]="primaryColor" [style.color]="textColor" id="preview_button"
          class="my-3">START</button>
      </div>

    </div>

    <h6 style="width: 100%; text-align: center;" class="mt-4">Chat</h6>
    <div class="card p-3">


      <div class="row justify-content-left my-1">
        <p class="message_preview" [style.fontFamily]="currentFont">
          This is Coney
        </p>
      </div>

      <div class="row justify-content-right my-1">
        <p class="answer_preview" [style.background]="primaryColor" [style.color]="textColor" [style.fontFamily]="currentFont">
          This is the user
        </p>
      </div>
      <hr class="mt-2">
      <div class="row justify-content-right mt-4 mb-1" style="position: relative;">

        <span [style.backgroundColor]="secondaryColor"
          style="height: 4px; position: absolute; left: 1rem; right: 1rem; border-radius: 10px;"></span>
        <span style="height: 15px;
        width: 15px;
        position: absolute;
        left: 60%;
        top: -6px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid gray;"></span>

      </div>

      <div class="row justify-content-center mt-3" style="position: relative;">
        <button [style.background]="primaryColor" [style.fontFamily]="currentFont" [style.color]="textColor" id="preview_button" style="padding: 7px 20px;"
          class="my-3">Send</button>
      </div>

    </div>

  </div>

</div>

<div class="row justify-content-center mt-4">
    <button mat-button color="primary" (click)="discard()">Cancel</button>
    <button mat-raised-button color="primary" id="updateBtn" (click)="update()" [disabled]="!canPress">Save</button>
</div>