<div *ngIf="!isBeingConfirmed" class="row justify-content-center">

  <div class="row m-0" style="position: relative;">
    <h3 class="pl-3">Translation</h3>
    
    <button *ngIf="!displayUpload" mat-raised-button color="primary" (click)="displayUpload = true" style="position: absolute; right: 1.5rem;">Upload Data</button>
    <button *ngIf="displayUpload" mat-raised-button color="primary" (click)="displayUpload = false" style="position: absolute; right: 1.5rem;">Display Data</button>
  </div>

  <hr *ngIf="!isLoading && !emptyFields" style="width: 100%;" class="m-4">
  <p *ngIf="!isLoading && emptyFields" style="width: 100%; color: red;" class="pt-1 m-4 text-center">{{errorMessage}}
  </p>
  <mat-progress-bar *ngIf="isLoading && !emptyFields" style="width:100%" mode="indeterminate"></mat-progress-bar>

  <div class="container" *ngIf="!displayUpload" style="max-height: 50vh; overflow-y: auto">
    <div class="row mb-4" style="position: relative;">
      <div class="col-9">
        <div class="row">
          <h6 style="padding-top: .5rem!important; color: gray;">Available: </h6><button mat-button *ngFor="let language of availableLanguages" (click)="downloadCSV('display', language.tag)">{{language.lang}}</button>
        </div>
      </div>
      <button mat-raised-button (click)="downloadCSV('save', undefined)" style="position: absolute; right: 1.5rem;">Download translation CSV</button>
    </div>

    <div *ngIf="activeTitle != ''" class="row my-2">
      
      <div class="col-3">
        <h6 style="padding-top: .5rem!important; color: gray;">Translated title:</h6></div>
      <div class="col-9">
        <mat-form-field style="width: 100%;">
        <input matInput placeholder="TITLE" [(ngModel)]="activeTitle">
      </mat-form-field></div>
    </div>

    <div *ngIf="activeTitle != ''" class="row my-2">
      <div class="col-5">
        <h6 class="pb-2" style="color: gray;">Messages</h6></div>
    </div>
  
    <div *ngFor="let item of activeData" class="row" style="border-bottom: 1px solid #2d3c765c;">
      <div class="col-2 pt-3">{{item.type}}</div>
      <div class="col-5 py-3">{{item.text}}</div>
      <div class="col-5">
        <mat-form-field>
          <input matInput placeholder="translation" [(ngModel)]="item.translation">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pt-4" *ngIf="!displayUpload">
    <button mat-raised-button color="accent" (click)="updateTranslation()">UPDATE</button>
  </div>

  <!--UPLOAD-->
  <div class="container" *ngIf="displayUpload">
    <div class="row m-0 text-center justify-content-center">
      <mat-form-field style="line-height: 1.5;">
        <input matInput type="text" placeholder="Translated Title" [(ngModel)]="translatedTitle"
          [ngModelOptions]="{standalone: true}">
      </mat-form-field>

    </div>

    <div class="row m-0 text-center justify-content-center">
      <mat-form-field style="line-height: 1.5;">
        <mat-label>Language</mat-label>
        <mat-select [(value)]="selectedLanguage" (selectionChange)="selectSelChanged()">
          <mat-option *ngFor="let i of languages" [value]="i">
            {{i.lang}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input #fileImportInput [disabled]="selectedLanguage == undefined || selectedLanguage.lang==''" type="file"
        class="mt-2 mb-4" id="file" (change)="fileChangeListener($event)" accept=".csv">
    </div>

    <br>
    <button mat-raised-button [disabled]="!uploadButtonEnabled" color="primary" (click)="uploadCSV()">Upload translation
      CSV</button>

  </div>

</div>

<div *ngIf="isBeingConfirmed" class="row justify-content-center">
  <div class="row m-0 text-center justify-content-center">
    <h6 class="mb-4">You are uploading the <span style="font-weight: 500;">{{selectedLanguage.lang}}</span> translation
    </h6>

  </div>
  <div class="row m-0 text-center justify-content-center">
    <mat-progress-bar *ngIf="isLoading" style="width:100%" mode="indeterminate"></mat-progress-bar>
    <button mat-button color="primary" (click)="goBack()">EDIT</button>
    <button mat-raised-button color="primary" (click)="sendData()">UPLOAD</button>
  </div>
</div>