<style>
  mat-form-field {
    width: 100%;
  }
</style>
<div *ngIf="!isBeingConfirmed" class="row justify-content-center">

  <div id="top-tr-bar" class="row m-0" style="position: relative;">

    <div class="col-9 pb-3">
      <h4 class="mb-0 pt-2">Translation</h4>
    </div>

    <div class="col-3 text-right">
      <!--Menu-->
      <button mat-icon-button [matMenuTriggerFor]="trMenu" aria-label="icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #trMenu="matMenu" xPosition="before">

        <button mat-menu-item *ngIf="displayScreen != 'upload'" (click)="changeDisplay('upload')">
          <span class="bold">Upload CSV</span>
        </button>

        <button mat-menu-item *ngIf="displayScreen != 'display' && displayScreen != 'search'" (click)="changeDisplay('display')">
          <span class="bold">Display Languages</span>
        </button>

        <button mat-menu-item *ngIf="languageInTranslation != undefined" (click)="changeDisplay('search')">
          <span class="bold">Change language</span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="langMenu" color="primary">
          <span class="bold">New language</span>
        </button>

      </mat-menu>

      <mat-menu #langMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="downloadCSV('display', language.tag)" *ngFor="let language of languages">
          <span class="bold">{{language.lang}}</span></button>
      </mat-menu>

    </div>

  </div>

  <div id="language-pick-section" *ngIf="displayScreen == 'search'" class="row justify-content-center p-4">

    <h5 class="w-100 text-center">Saved translations</h5>
    <p class="w-100 text-center mb-3" *ngIf="availableLanguages.length>0"><small><i>Pick one to edit</i></small></p>
    <p class="w-100 text-center mb-3" *ngIf="availableLanguages.length==0"><small><i>None found</i></small></p>

    <mat-chip-list aria-label="languages">
      <mat-chip *ngFor="let language of availableLanguages" style="cursor: pointer;"
        (click)="downloadCSV('display', language.tag)">{{language.lang}}</mat-chip>
    </mat-chip-list>

    <div class="col-12 text-center">
      <p class="w-100 text-center my-3 ml-0"  *ngIf="availableLanguages.length>0"><small><i>or</i></small></p>
      <button mat-raised-button [matMenuTriggerFor]="langMenu" color="primary">
        <span>Add new</span>
      </button>
    </div>
  </div>


  <div id="language-edit-section" class="row" *ngIf="displayScreen == 'display'">
    
    <h5 *ngIf="!isLoading" style="width:100%; text-align: center; font-weight: 500; 
    margin-top: -3rem;" class="pt-2">
      {{displayedLanguage}}</h5>


    <div class="col-12 m-0 p-0">
      <div class="row m-0 p-0" style="max-height: 65vh; overflow-y: auto;">

        <h6 class="m-0 w-100 text-center py-3" style="color: gray;">Info</h6>
        <div class="col-4">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Title" [(ngModel)]="activeTitle">
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Intro text" [(ngModel)]="activeIntroText">
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Privacy link" [(ngModel)]="activePrivacyLink">
          </mat-form-field>
        </div>


        <h6 class="m-0 py-3 w-100 text-center" *ngIf="languageInTranslation != undefined" style="color: gray;">Messages:
        </h6>

        <p *ngIf="!isLoading && emptyFields" style="width: 100%; color: red;" class="pt-1 m-4 text-center">
          {{errorMessage}}
        </p>
        <mat-progress-bar *ngIf="isLoading && !emptyFields" style="widows: 80%" mode="indeterminate"></mat-progress-bar>

        <div class="container-fluid px-0" *ngIf="!displayUpload">



          <div *ngFor="let item of activeData" class="row pt-3" style="border-bottom: 1px solid #2d3c7621;">
            <div class="col-2 pt-3">{{item.type}}</div>
            <div class="col-5 py-3" style="word-break: break-word;">{{item.text}}</div>
            <div class="col-5">
              <mat-form-field>
                <textarea matInput placeholder="translation" [(ngModel)]="item.translation"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row justify-content-between pt-4 px-0 " *ngIf="displayScreen == 'display' && languageInTranslation != undefined">
    <div *ngIf="updateSuccessful" class="col-12" style="color: green">
      <h6 style="width: 100%; text-align: right">Update Successful!</h6>
    </div>
    <button mat-stroked-button (click)="downloadCSV('save', undefined)">Download <i>{{languageInTranslation}}</i>
      translation CSV</button>
    <button mat-raised-button color="primary" (click)="updateTranslation()">UPDATE</button>
  </div>



  <!--UPLOAD-->
  <div class="container-fluid" *ngIf="displayScreen == 'upload'">
    <div class="row m-0 text-center justify-content-center">
      <mat-form-field style="line-height: 1.5;">
        <input matInput type="text" placeholder="Translated Title" [(ngModel)]="translatedTitle"
          [ngModelOptions]="{standalone: true}">
      </mat-form-field>

    </div>
    <div class="row m-0 text-center justify-content-center">
      <mat-form-field style="line-height: 1.5;">
        <input matInput type="text" placeholder="Intro text" [(ngModel)]="translatedIntroText"
          [ngModelOptions]="{standalone: true}">
      </mat-form-field>

    </div>
    <div class="row m-0 text-center justify-content-center">
      <mat-form-field style="line-height: 1.5;">
        <input matInput type="text" placeholder="Privacy link" [(ngModel)]="translatedPrivacyLink"
          [ngModelOptions]="{standalone: true}">
      </mat-form-field>

    </div>

    <div class="row m-0 text-center justify-content-center">
      <mat-form-field style="line-height: 1.5;">
        <mat-label>Language*</mat-label>
        <mat-select [(value)]="selectedLanguage" (selectionChange)="selectSelChanged()">
          <mat-option *ngFor="let i of languages" [value]="i">
            {{i.lang}}
          </mat-option>
        </mat-select>
        <mat-hint>*required</mat-hint>
      </mat-form-field>
      <input #fileImportInput [disabled]="selectedLanguage == undefined || selectedLanguage.lang==''" type="file"
        class="mt-2 mb-4" id="file" (change)="fileChangeListener($event)" accept=".csv">
    </div>

    <div *ngIf="!areTranslationsPresent && uploadButtonEnabled" class="row m-0 text-center justify-content-center">
        <p style="color: brown">All the fields in the document are empty</p>
    </div>

    <br>

    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <p>Make sure that you are uploading a file downloaded from this conversation, it won't work with a cloned one!</p>
      </div>
      <button mat-raised-button [disabled]="!uploadButtonEnabled || !areTranslationsPresent" color="primary" (click)="uploadCSV()">Upload translation
        CSV</button>
    </div>
   

  </div>

</div>

<div *ngIf="isBeingConfirmed" class="row justify-content-center">
  <div class="row m-0 text-center justify-content-center">
    <h6 class="mb-4">You are uploading the <span style="font-weight: 500;">{{selectedLanguage.lang}}</span> translation
    </h6>

  </div>
  <div class="row m-0 text-center justify-content-center">

    <mat-progress-bar *ngIf="isLoading" style="width:100%" mode="indeterminate"></mat-progress-bar>
    <button mat-button color="primary" (click)="goBack()">EDIT</button>
    <button mat-raised-button color="primary" (click)="sendData(true)">UPLOAD</button>
  </div>
</div>